[package]
authors = ["Matthias Endler <matthias-endler@gmx.net>"]
description = "An adaptor that chunks up elements and flushes them after a timeout or when the buffer is full."
license = "MIT OR Apache-2.0"
name = "tokio-batch"
version = "0.5.0"
edition = "2018"
repository = "https://github.com/mre/tokio-batch"

[dependencies]
futures-preview = { version = "0.3.0-alpha.19", features = ["compat"] }
pin-utils = "0.1.0-alpha.4"
tokio = "0.1.22"
futures-timer = "2.0.2"

[dev-dependencies.doc-comment]
version = "0.3"
